.btn{
    background: $nickel;
}

.redondo{
    border-radius: 5rem;
    margin-left: 25px;
}

.padines{
    padding-top: 60px;
    padding-bottom: 60px;
}
.redondoleft{
    border-start-start-radius: 5rem;
}

.redondoright{
    border-radius: 5rem;
}